extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a tellus urna. Cras ornare sapien ac urna ornare, sed facilisis odio convallis. Ut eget nulla tincidunt, fermentum metus sed, ullamcorper mi. Maecenas laoreet, turpis non ultricies posuere, sem lorem cursus nisi, feugiat feugiat libero nunc sit amet nibh. Proin ultrices nulla massa, quis auctor diam aliquet id. Phasellus vitae finibus felis. Sed vel aliquet dui. Nulla quis ornare sapien. Nulla tristique faucibus nisl, ut ultricies arcu placerat auctor. Nulla facilisi.

                p Fusce ullamcorper leo leo, quis ultrices justo consequat sit amet. Ut in iaculis nibh. Nulla ut lobortis libero. Aliquam feugiat non arcu ac euismod. Nulla vel porta sem. Suspendisse nisi dolor, viverra a turpis nec, rhoncus vehicula metus. Nulla iaculis dui luctus massa malesuada consequat a at turpis. Quisque a mollis mauris, vitae fringilla lectus. Aenean vestibulum nec diam et tristique. In tortor neque, venenatis non tellus a, interdum placerat turpis. In suscipit efficitur varius. Proin eget pretium ipsum.

    .listado-iconos
        .container.mt5-py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Alerta tenga mucho cuidado!!!

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destino
                    p Elija lo mejor para ud!!!

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Aproveche nuestras grandes ofertas!!!